# Include top-level files
include README.md
include LICENSE
include pyproject.toml

# Include everything in docs and examples folders
recursive-include docs *
recursive-include examples *

# Include all text and CSV files inside your package
recursive-include tactik *.txt *.csv

# Exclude compiled or cache files
global-exclude *.pyc *.pyo __pycache__ *
